# My Jupyter Notebook on IBM Watson Studio

**Grace Damilola Awolaja**
 Freelance writer and Graphic Designer

*I am interested in Data Science because I want to gain tech skills and expand my knowledge*

### The python code below is going to raise 12 by 2

In [6]:
print (12**2)

144

*** 
1. Numbered List
1. Numbered list
- Bulleted list
- Bulleted list

<center> <h3> My Table </h3> </center>

|$no| Column 1  |Column 2 | Column 3 | Column 4|
|---:|:-------------|:-----------|:------|:------ |
| 1 | Row 1 | Row 2 | Row 3 | Row 4 |
| 2 | Row 2 | Row 2 | Row 3 | Row 4 |